[submodule "WorldOfUzers.UI"]
	path = WorldOfUzers.UI
	url = https://github.com/pedroaz/WorldOfUzers.UI
	branch = master
[submodule "WorldOfUzers.GeneralFunctions"]
	path = WorldOfUzers.GeneralFunctions
	url = https://github.com/pedroaz/WorldOfUzers.GeneralFunctions.git
	branch = master
