[submodule "CityOfUzers.UI"]
	path = CityOfUzers.UI
	url = https://github.com/pedroaz/CityOfUzers.UI.git
	branch = master
[submodule "WorldOfUzers.UI"]
	path = WorldOfUzers.UI
	url = https://github.com/pedroaz/WorldOfUzers.UI
	branch = master
